body {background-color:#800080;}
	background-image: https://orange-object.github.io/dude/;
}
	a{color:#3383ff}
	a: hover{color:#009dff}
<style>
div {
    background-color: lightgrey;
    width: 500px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
	<div><img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Yellowstone-black-bear-07895.jpg/500px-Yellowstone-black-bear-07895.jpg" width="500";></div>
</style>
