body {background-color:#800080;}
	background-image: https://orange-object.github.io/dude/;
}
	a{color:#3383ff}
	a: hover{color:#009dff}
img .right {float: left; 0px;}
img .right {margin: left; 0px;}
img .left {float: left; 0px;}
img .left {margin: left; 0px;}
img .left div {
    width: 50px;
    border: 50px solid green;
    padding: 50px;
    margin: 50px;
}
